name: repository
description: "A Repo handles expenses"
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter

  firebase_auth: ^6.1.3
  cloud_firestore: ^6.1.1
    

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:

  uses-material-design: true


  